<!DOCTYPE html>
<html lang='en'>

<head>
  <meta charset='UTF-8' />
  <meta name='viewport' content='width=device-width, initial-scale=1.0' />
  <title>T-EXT Editor</title>
  <link href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css' rel='stylesheet'
    integrity='sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN' crossorigin='anonymous' />
  <style>
    body {
      background-color: #f8f9fa;
    }

    .navbar {
      background-color: #4285f4;
      color: white;
      font-family: 'Roboto', sans-serif;
    }

    .navbar-brand img {
      margin-left: 10px;
    }

    .note-container,
    .display-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 15px;
      margin-top: 20px;
    }

    .note-card {
      max-width: 400px;
      width: 100%;
      background-color: #fff;
      border-radius: 8px;
      padding: 15px;
      box-shadow: 0 4px 6px rgba(0, 0, 0,
          0.1);
    }

    .note-title,
    .note-text {
      width: 100%;
      border: none;
      border-bottom: 1px solid #ccc;
      resize: none;
      font-weight: bold;
      margin-bottom: 10px;
      padding: 5px 0;
    }

    .note-text {
      height: 120px;
    }

    .table {
      background-color: #ffffff;
      /* White background */
      border-radius:
        8px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      overflow:
        hidden;
    }

    .table th,
    .table td {
      text-align: center;
      padding: 15px;
      border-bottom: 1px solid #dee2e6;
    }

    .table-primary {
      background-color: #4285f4;
      color: white;
    }

    .table-info {
      background-color: #73a5f0;
      color: white;
    }

    .table-danger {
      background-color: #dc3545;
      color: white;
    }

    .note-actions button {
      margin-right: 5px;
    }

    .btn-logOut {
      margin-right: 30px;
    }

    .btn-save,
    .btn-outline-primary,
    .btn-outline-danger,
    .btn-outline-info {
      border-radius: 4px;
    }
  </style>
</head>

<body>
  <nav class='navbar navbar-dark'>
    <a class='navbar-brand' href='/notes/dashboard'>
      <img src='../Images/tyrannosaurus-rex.png' width='35' height='35' class='d-inline-block align-top' alt='T-REX' />
      T-EXT Keep Notes
    </a>
    <div style="display: flex;">
      <div class="dropdown" style="margin-right: 50px;">
        <a class="d-flex align-items-center justify-content-center p-3 link-dark text-decoration-none dropdown-toggle"
          id="dropdownUser3" data-bs-toggle="dropdown" aria-expanded="false">
          <img src="/file" class="rounded-circle shadow-4-strong" alt="sdvbnasnbv" style="height: 50px; width: 50px">
        </a>
        <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser3">
          <form action="/users/upload" method="post" enctype="multipart/form-data">
            <input type="file" name="avatar">
            <li><button class=" btn btn-success" style="margin-top: 10px;">Upload Picture</button></li>
          </form>
        </ul>
      </div>
      <div style="margin-top: 22px;">
        <form id="logOut" action='/auth/log_out' method='get'>
          <button class='btn btn-danger btn-logOut' form="logOut"> LogOut</button>
        </form>
      </div>

    </div>


  </nav>

  <div class='container mt-3'>
    <form id='noteForm' action='/notes/dashboard?limit=2&page=1' method='post'>
      <div class='note-container'>
        <div class='note-card'>
          <input type='text' placeholder='Title...' class='note-title' name='title' />
          <textarea placeholder='Take a Note...' class='note-text' name='content'></textarea>
          <div class='note-actions'>
            <button class='btn btn-primary btn-save'>Save :)</button>
          </div>
        </div>
      </div>
    </form>
  </div>

  <div style="display: flex;">
    <div class='container mt-5'>
      <table class='table'>
        <thead>
          <tr class='table-white'>
            <th scope='col'>
              <a href="/notes/dashboard?shared=all&limit=2&page=1" class='btn btn-outline-danger'>My Notes</a>
            </th>
            <th scope='col'>
              <a href="/notes/dashboard?shared=byMe" class='btn btn-outline-dark'>Shared Notes</a>
            </th>
            <th scope='col'>
              <a href="/notes/dashboard?shared=withMe" class='btn btn-outline-success'>Received Notes</a>
            </th>
          </tr>
        </thead>
      </table>
    </div>
  </div>


  {{#if notes}}
  <div style="display: flex;">
    <div class='container'>
      <table class='table'>
        <thead>
          <tr class='table-white'>
            <th scope='col'></th>
            <th scope='col'>My Notes</th>
            <th scope='col'></th>
            <th scope='col'></th>
            <th scope='col'></th>
            <th scope='col'></th>
          </tr>
          <tr class='table-primary'>
            <th scope='col'>Title</th>
            <th scope='col'>Note</th>
            <th scope='col'></th>
            <th scope='col'>Actions</th>
            <th scope='col'></th>
          </tr>
        </thead>
        <tbody>
          {{#each notes}}
          <tr>
            <td>{{this.title}}</td>
            <td class='table-warning'>{{this.content}}</td>
            <td>
              <a href="/notes/{{this.id}}" class='btn btn-outline-primary'>Edit</a>
            </td>

            <td>
              <form action="/notes/{{this.id}}" method='post'>
                <input type='hidden' name='_method' value='DELETE' />
                <button class='btn btn-outline-danger' type='submit'>Delete</button>
              </form>
            </td>
            <td>
              <a href="/notes/share/{{this.id}}" class='btn btn-outline-info'>Share</a>
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
      <nav aria-label="Page navigation example">
        <ul class="pagination" style="display: flex; justify-content:center; align-item:center;">
          <li class="page-item">
            <a class="page-link" href="?p={{this}}" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">Previous</span>
            </a>
          </li>
          {{#if numberOfPages}}
          {{#each numberOfPages}}
          <li class="page-item"><a class="page-link" href="?limit=2&page={{this}}">{{this}}</a></li>
        
          <li class="page-item">
            <a class="page-link" href="?p={{this}}" aria-disabled="true" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only">Next</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
    {{/if}}


    {{#if receivedNotes}}
    <div class='container '>
      <table class='table'>
        <thead>
          <tr class='table-white'>
            <th scope='col'></th>
            <th scope='col'>Notes Shared With Me</th>
            <th scope='col'></th>
          </tr>
          <tr class='table-primary'>
            <th scope="col">Sender</th>
            <th scope='col'>Title</th>
            <th scope='col'>Note</th>
          </tr>
        </thead>
        <tbody>
          {{#each receivedNotes}}
          <tr>
            <td>{{this.sender.name}}</td>

            <td>{{this.notes.title}}</td>
            <td class='table-warning'>{{this.notes.content}}</td>
          </tr>
          {{/each}}
        </tbody>
      </table>
      <nav aria-label="Page navigation example">
        <ul class="pagination" style="display: flex; justify-content:center; align-item:center;">
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">Previous</span>
            </a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only">Next</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
    {{/if}}


    {{#if sharedNotes}}
    <div class='container'>
      <table class='table'>
        <thead>
          <tr class='table-white'>
            <th scope='col'>Notes Shared By Me</th>
            <th scope='col'></th>
            <th scope='col'></th>


          </tr>

          <tr class='table-primary'>
            <th scope="col"> Receiver </th>
            <th scope='col'>Title</th>
            <th scope='col'>Note</th>
          </tr>
        </thead>
        <tbody>
          {{#each sharedNotes}}
          <tr>
            <td>{{this.receiver.name}}</td>
            <td>{{this.notes.title}}</td>
            <td class='table-warning'>{{this.notes.content}}</td>
          </tr>
          {{/each}}
        </tbody>
      </table>
      <nav aria-label="Page navigation example">
        <ul class="pagination" style="display: flex; justify-content:center; align-item:center;">
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">Previous</span>
            </a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only">Next</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  {{/if}}
  <script src='https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js'
    integrity='sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL'
    crossorigin='anonymous'></script>
  <script src='TextEditor.js'></script>
</body>

</html>