<p>Hey {{receiver}},</p>
<p>The Author {{sender}} Deleted a Note,Note Details :</p>
<p>Title : {{title}}</p>
<p>Content : {{content}}</p>
<p>For More Details Contact {{sender}}.</p>
<p>Thank You :)</p>